{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <section class="form">    
        <div class="form-block">
            {{ form_start(registrationForm) }}
                <h1 class="title">{% trans %}Registration{% endtrans %}</h1>
                <div class="form__controls">
                    <div class="email">
                        {% if form_errors(registrationForm.email) %}
                            <div class="alert-message" role="alert">
                                {{ form_errors(registrationForm.email) }}
                            </div>
                        {% endif %}
                        {{ form_label(registrationForm.email,'Email:') }}
                        {{ form_widget(registrationForm.email) }}
                    </div>
                    <div class="password">
                        {{ form_label(registrationForm.plainPassword,'Password:') }}
                        {% if form_errors(registrationForm.plainPassword) %}
                            <div class="alert-message" role="alert">
                                {{ form_errors(registrationForm.plainPassword) }}
                            </div>
                        {% endif %}
                        {{ form_widget(registrationForm.plainPassword) }}
                    </div>
                    <div class="agree-terms">
                        {{ form_errors(registrationForm.agreeTerms) }}
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_label(registrationForm.agreeTerms,'Сonfirm') }}
                    </div>
                </div>
                {{ form_row(registrationForm.save) }}
            {{ form_end(registrationForm) }}
        </div>
    </section>
{% endblock %}
