{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="form">
        <div class="form-block">
                {% if error %}
                    <div class="alert-message" role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>   
                {% endif %}
                {% if app.user %}
                    <h1 class="logged-in">{% trans %}You are logged in as{% endtrans %}
                        {{ app.user.email }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                    </h1>
                {% else %}
                    <form action="{{ path('login') }}" method="post">
                        <h1 class="title">{% trans %}Login{% endtrans %}</h1>
                        <div class="form__controls">
                            <div class="email">
                                <label for="InputEmail1" class="form__label">{% trans %}Email{% endtrans %}:</label>
                                <input type="email" class="form__input form__input-focus" id="InputEmail1" name="_username" value="{{ last_username }}">
                            </div>
                            <div class="password">
                                <label for="InputPassword1" class="form__label">{% trans %}Password{% endtrans %}:</label>
                                <input type="password" class="form__input form__input-focus" id="InputPassword1" name="_password">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                            <div class="remember-me">
                                <label>
                                    <input type="checkbox" name="_remember_me" checked />
                                    {% trans %}Remember me{% endtrans %}
                                </label>
                            </div>
                        </div>

                            <button type="submit" class="btn">{% trans %}Login{% endtrans %}</button>
                    </form>
                {% endif %}
        </div>
    </section>
{% endblock %}
